.main
  .calender
    = month_calendar do |date|
      = date.day
  .user-box
    = link_to "#", class: "user-box__btn1" do
      支出登録
    = link_to "#", class: "user-box__btn2" do
      収入登録
    = link_to "#", class: "user-box__btn3" do
      今月の支出

